

<div class="container">
  <div class="row">
    <% @cocktails.each do |cocktail| %>
      <div class="col-12 col-md-6 col-lg-4">
         <div class="card-product" style="">
           <%= cl_image_tag cocktail.photo, height: 300, width: 400, crop: :fill%>
           <div class="card-body">
             <h2><%= cocktail.name %></h2>

             <btn class="btn"><%= link_to "See details", cocktail_path(cocktail), class: "btn btn-light"%></btn>
           </div>
         </div>
      </div>
    <% end %>
  </div>
</div>
