// Import page-specific CSS files here.
h1 {
  color: white;
  text-align: center;
}

h2 {
  color: pink;
  text-align: center;
  margin-bottom: 30px;
}

body {
  background-color: white;
}


@import "home";
