.card-product {
  overflow: hidden;
  height: 180px;
  background: white;
  box-shadow: 0 0 10px rgba(0,0,0,0.2);
  display: flex;
  align-items: center;
  border-radius : 5px;
  margin : 20px;
}

.card-product img {
  height: 100%;
  width: 150px;
  object-fit: cover;
}

.card-product h2 {
  font-size: 20px;
  font-weight: bold;
  margin: 0;
}

.card-ingredient {
  overflow: hidden;
  height: 120px;
  background: white;
  display: flex;
  flex-direction: column;
  border-radius: 5px;
  margin: 10px;
  padding: 10px;
  color: #B7BABF;

  a {
    text-decoration: none;
    color: #B7BABF;
  }
}

.card-body {
  color: #B7BABF;
  text-align: center;

  a {
  text-decoration: none;
  color: #B7BABF;
  }
}








