.navbar-cocktail {
  background-image: url('https://encrypted-tbn0.gstatic.com/images?q=tbn:ANd9GcQFziuuQnrAbMWKWilZcQterbwZRnIa6-ym1nNrutynHGScX8SC');
  background-size: cover;
  height: 400px;
  background-position: center;
  color: white;
  display: flex;
  align-items: center;
  justify-content: center;
}

